body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    z-index: 1000;
}

/* .WriteButtonMobile {
    display: none;
} */
.WriteButtonMobile {
    display: flex;
    justify-content: center;
    position: relative;
}

.notification a svg {
    color: rgb(101, 101, 101);

}

.WriteButtonMobile a {
    display: flex;
    justify-content: center;
    align-items: center;

}
.WriteButtonMobile a svg {
    color: rgb(101, 101, 101);

}

.logo {
    margin-left: 200px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.NavRightsideNotRegister {
    height: 100%;
}

.NavRightsideNotRegister ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavRightsideNotRegister ul li {
    margin-left: 20px;
}

.NavRightsideNotRegister ul li a {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.Signup {
    margin-right: 150px;
    padding: 4px 15px;
    border-radius: 25px;

    background-color: black;
}

.NavRightside {
    height: 100%;
}

.NavRightside ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavRightside ul li {
    padding: 3px 10px;
    margin: 0px 2px;

}

.NavRightside ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.notification {
    display: flex;
    justify-content: center;
    position: relative;
}

.notification a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogOutIcon{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.LogOutIcon a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogOutIcon a svg{
    color: rgb(101, 101, 101);
    width: 20px;
    height: 20px;
}
#notification {
    width: 7px;
    height: 7px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    float: right;
    top: -5px;
    right: 10px;
}

.Write {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Write span {
    margin-left: 7px;
}


.Profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-image: url("../../public/imgProfile.jpg");
}

#Profile {
    margin-right: 80px;
}

.WriteButton {
    border-radius: 10px;
    border: 1px solid rgb(54, 54, 54);
}

/* landing page */
.LandingPage {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
}

.Sticky {
    position: relative;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 70%;
}

.searchBox {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchBox input {
    padding: 4px 10px;
    outline: none;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 25px;
    font-size: .9rem;
    color: rgb(42, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
}

.searchBox input::placeholder {
    font-size: .9rem;
    color: rgb(42, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
}

.searchBox button {
    display: flex;
    margin: 0px 15px;
    /* width: 32px;
    height: 32px; */
    /* background-color: black; */
    border-radius: 50%;
    margin-left: 20px;
    outline: none;
    border: none;
   
    justify-content: center;
    align-items: center;
}
.SearchBtn{
    background:none;
}
.bi-search{
    color:  rgb(64, 64, 64);
    width: 25px;
    height: 25px;
}
.topic {
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height: 40px;
    display: flex;
}

#addTopic,
#ApplyTopic,
#Top {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: pointer;
    font-size: .9rem;
    border-radius: 25px;
    margin: 0px 5px;
    padding: 5px 15px;
    background-color: rgb(203, 203, 203);
    color: black;
}

.empty {
    width: 30px;
    height: 30px;
    margin: 0px 2px;
    cursor: pointer;
    visibility: hidden;
}

#buttonRight,
#buttonLeft {
    cursor: pointer;
    margin: 0px 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72);
}



.topic{
    width: 50%;
}


.boxTopic {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeTopicBox span {
    cursor: pointer;
    margin: 5px 5px;
    font-size: .8rem;
    border-radius: 25px;
    padding: 5px 15px;
}

.topicInner {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.leftBtnTopic,.rightBtnTopic{
    z-index: 10;
   
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    /* border-radius: 40%; */
    color: rgb(52, 52, 52);
}
.leftBtnTopic{
    box-shadow: 4px 0px 5px rgb(255, 255, 255);
}
.rightBtnTopic{
    box-shadow: -4px 0px 5px rgb(255, 255, 255);
}
.leftBtnTopic svg,.rightBtnTopic svg {
    width: 25px;
    height: 25px;
}
.ScrollTipicBox{

    display: flex;
    align-items: center;
    height: 100%;
    width:85%;
    overflow-x: hidden;
}
.topics {
    cursor: pointer;
    margin: 0px 2px;
    font-size: .8rem;
    border-radius: 25px;
    padding: 5px 10px;

}

.CTopic{
    background-color: rgb(215, 215, 215);
    color: black;
}
.Topic {
    background-color: rgb(220, 220, 220);
    color: black;
}

.targetTopic {
    background-color: black;
    color: white;
}


/* Cards */

.Blogs {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 80vw;
    /* height: 100vh; */
    /* border: 2px solid rebeccapurple; */
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 80px;
    grid-row-gap: 100px;
}

.blog {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

.card {
    width: 300px;
    border: none;
}

.cardimg {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}

.CardProfileBox {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    border: none;
}

.cardProgileimg {
    border-radius: 50%;
    margin: 5px 10px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
}

.CardName {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0;
    vertical-align: middle;

    font-size: 1rem;
    font-weight: 500;
}

.CardDate {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    display: flex;
    padding: 0;
    align-items: center;
    vertical-align: baseline;
    margin-left: 5px;
    font-size: .7rem;
    color: rgb(84, 84, 84);
    font-weight: 300;
}

.NameDate {
    height: 100%;
    display: flex;
    align-items: center;
}
.LandingPage{
    margin-bottom: 100px;
}
.followIcon {
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    /* color: #1A8917; */
    color: grey;
}

.CardTitle {
    /* padding: 5px; */
    margin: 2px 0px;
    font-size: 1rem;
}

.CardDes {

    font-size: .8rem;
}

.CardTopic {
    cursor: pointer;
    margin: 0px 0px;
    font-size: .8rem;
    border-radius: 25px;
    padding: 5px 15px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardFooter div {

    display: flex;
    justify-content: center;
    align-items: center;
}

.CardLike,
.CardBookMark {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    margin-left: 3px;

    height: 30px;
    color: gray;
}

.like {
    color: red;
}

.bookmark {
    color: #1A8917;
}

.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.error span {
    font-size: 1.5rem;
    font-weight: 500;
}

.error p {
    margin-top: 10px;
    width: 60%;
    text-align: center;
}

.error p a {
    text-decoration: none;
}

.ExpandTopics {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    z-index: 100;
}

.ExpandTopicsList {
    background-color: rgb(240, 239, 239);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    /* height: 70%; */
    max-height: 70vh;
    padding: 10px;
    border-radius: 10px;
    /* background-color: aqua; */
}

.nav {
    z-index: 1000;
}

.etopics {
    cursor: pointer;
    margin: 0px 5px;
    margin-bottom: 5px;
    font-size: .9rem;
    border-radius: 25px;
    padding: 5px 15px;

}

.HideExpand {
    display: flex;
    cursor: pointer;
    color: black;
    justify-content: center;
    align-items: center;
    width: 30px;
    /* background-color: rgb(102, 102, 102); */
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
}



/* mobile  */
@media screen and (max-width:700px) {
    nav {
        width: 100vw;
    }

    .logo {
        margin-left: 20px;
        font-size: .9rem;
    }

    .Profile {
        width: 30px;
        height: 30px;
    }

    #Profile {
        margin-right: 20px;
    }

    .WriteButton {
        display: none;
    }

    .WriteButtonMobile {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .notification a svg {
        color: rgb(101, 101, 101);

    }

    .WriteButtonMobile a {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .WriteButtonMobile a svg {
        color: rgb(101, 101, 101);

    }

    .NavRightside ul li {
        padding: 3px 5px;
        margin: 0px 5px;

    }

    .NavRightsideNotRegister ul li {
        margin-left: 10px;
    }

    .NavRightsideNotRegister ul li a {
        font-size: .9rem;
        font-weight: 400;
        color: black;
        text-decoration: none;
    }

    .Signup {
        font-size: .9rem;
        margin-right: 50px;
        padding: 4px 15px;
        border-radius: 25px;
        background-color: black;
    }

    /* landing page */
    .Sticky {
        position: relative;
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 10px;
        width: 100%;
    }

    .searchBox {
        margin-left: 0px;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .searchBox input {
        padding: 4px 10px;
        outline: none;
        border: 1px solid rgb(42, 42, 42);
        border-radius: 25px;
        font-size: .8rem;
        color: rgb(83, 83, 83);
        font-family: Arial, Helvetica, sans-serif;
    }

    .searchBox input::placeholder {
        font-size: .8rem;
        color: rgb(42, 42, 42);
        font-family: Arial, Helvetica, sans-serif;
    }

    .searchBox button {
        display: flex;
        margin: 0px 10px;
        width: 32px;
        height: 32px;
        /* background-color: black; */
        border-radius: 50%;
        outline: none;
        border: none;
        color: white;
        justify-content: center;
        align-items: center;
    }

    .topic {
        margin-top: 10px;
        width: 90%;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
        /* margin-left: 50px; */
        height: 40px;
        display: flex;
    }

    .HomeTopicBox {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: start; */
        /* align-items: flex-start; */
        padding: 5px;
        position: absolute;
        z-index: 100;
        top: 45px;
        left: 0px;
        width: 90vw;
        max-height: 300px;
        border-radius: 10px;
        background-color: rgb(210, 209, 209);
    }

    #addTopic,
    #ApplyTopic,
    #Top {
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
        cursor: pointer;
        font-size: .7rem;
        border-radius: 25px;
        margin-left: 0px;
        padding: 5px 15px;
        background-color: rgb(203, 203, 203);
        color: black;
    }
    #addTopic{
        margin-left: 0px;
    }
    .HomeTopicBox .Topic {
        cursor: pointer;
        margin: 5px 5px;
        font-size: .7rem;
        border-radius: 25px;
        padding: 5px 15px;
    }

    .hideTopicsBox {
        display: none;
    }

    .topicInner {
        margin: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }


    /* cards */

    .Blogs {
        margin-top: 50px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 0px;
        margin-bottom: 0px;
    }
    .blog{
        margin-bottom: 70px;
        padding-bottom: 10px;
    }
    .card {
        width: 90vw;
        border: none;
    }

    .cardimg {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .cardProgileimg {
        border-radius: 50%;
        margin: 5px 5px;
        width: 30px;
        height: 30px;
        object-fit: cover;
        object-position: center;
    }
    .CardName{
        font-size: .9rem;
    }
    .CardDate {
        font-size: .7rem;
    }
    .CardTitle{
        font-size: .95rem;
    }
    .CardDes {

        font-size: .85rem;
    }
    .SearchBtn{
        background:none;
    }
}