.ReadVlog {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ReadVlogProfile {
    margin-top: 50px;
    height: 70px;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    width: 70%;
}

.readimgProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.ReadProfileData {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.Readdarkcol {
    cursor: pointer;
    font-weight: bold;
    font-size: .9rem;
    margin: 0;
    color: rgb(22, 22, 22);
}

.Readlightcol {
    cursor: pointer;
    margin: 0;
    font-weight: 300;
    font-size: .8rem;
    color: rgb(22, 22, 22);
}

.ReadIcon {
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Readbookmark .bi-bookmark-check-fill {
    margin-left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.Readbookmarkfollow .bi-person-fill-add {
    margin-left: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.ReadPost {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.PostText {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    /* border: 1px solid rgb(158, 158, 158); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    overflow: none;
    border: none;
    display: block;
    overflow: hidden;
    resize: none;
    color: rgb(65, 65, 65);
    text-align: left;
    margin-bottom: 30px;
}

.PostTitle {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    /* border: 1px solid rgb(158, 158, 158); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.9rem;
    overflow: none;
    display: block;
    overflow: hidden;
    font-weight: bold;
    resize: none;
    color: rgb(28, 28, 28);
    border: none;

}

.PostHeading {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    /* border: 1px solid rgb(158, 158, 158); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.9rem;
    overflow: none;
    display: block;
    overflow: hidden;
    font-weight: bold;
    resize: none;
    color: rgb(28, 28, 28);
    border: none;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.PostImg {
    width: 100%;
    margin-bottom: 30px;
}

.PostUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
    width: 100%;
}

.PostUl li {

    width: 90%;
}

.footerRead {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
}

.Finish {
    letter-spacing: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width:700px) {
    .ReadVlog {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .ReadVlogProfile {
        margin-top: 20px;
        height: 70px;
        /* border: 1px solid rgb(0, 0, 0); */
        display: flex;
        align-items: center;
        width: 80%;
    }

    .readimgProfile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .Readdarkcol {
        cursor: pointer;
        font-weight: bold;
        font-size: .8rem;
        margin: 0;
        color: rgb(22, 22, 22);
    }

    .Readlightcol {
        cursor: pointer;
        margin: 0;
        font-weight: 300;
        font-size: .7rem;
        color: rgb(22, 22, 22);
    }

    .Readbookmark .bi-bookmark-check-fill {
        margin-left: 10px;
        cursor: pointer;
        width: 17px;
        height: 17px;
    }

    .Readbookmarkfollow .bi-person-fill-add {
        margin-left: 10px;
        cursor: pointer;
        width: 17px;
        height: 17px;
    }

    .ReadPost {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .PostTitle {
        border-radius: 10px;
        padding: 0px;
        width: 100%;
        /* border: 1px solid rgb(158, 158, 158); */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        overflow: none;
        display: block;
        overflow: hidden;
        font-weight: bold;
        resize: none;
        color: rgb(28, 28, 28);
        border: none;

    }

    .PostText {
        border-radius: 10px;
        padding: 0px;
        width: 100%;
        /* border: 1px solid rgb(158, 158, 158); */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        overflow: none;
        border: none;
        display: block;
        overflow: hidden;
        resize: none;
        color: rgb(65, 65, 65);
        text-align: left;
        margin-bottom: 30px;
    }

    .PostHeading {
        border-radius: 10px;
        padding: 0px;
        width: 100%;
        /* border: 1px solid rgb(158, 158, 158); */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        overflow: none;
        display: block;
        overflow: hidden;
        font-weight: bold;
        resize: none;
        color: rgb(28, 28, 28);
        border: none;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .PostImg {
        width: 100%;
        margin-bottom: 15px;
    }

    .PostUl {
        padding-left: 10px;
    }
    .Finish {
        letter-spacing: 5px;
        font-size: 1.3rem;
        font-weight: bold;
    }

}